
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../Fonts/OpenSans-SemiBold.ttf");
}
/*variables sass*/

/* modificaciones generales*/
.background-color-general{
background-color: #0a8899 ;
}

.reproductor-spotify{
display: flex;
justify-content: center;
}

.reproductor-youtube{
  display: flex;
  justify-content: center;
  }


.titulo-3{
  text-align: center;
  color: white;
  padding: 10px;
  margin: auto;
  }


  article{
    color: white;
  }

footer{
  text-align: center;
  color: white;
  padding: 10px;
}

/*mod bootstrap*/

.navbar{
  padding:2rem;

}

.navbar-collapse{
  justify-content: space-between;
  align-items: center;
}

.card{
  display: inline;
}

/*Boostrap responsive*/
@media screen and (max-width: 992px) {
  .navbar-brand {
    display: none;
  }
}
/*MediaQueries*/
