@import "fondos";

/* modificaciones generales*/

.reproductor-spotify {
display: flex;
justify-content: center;
}

.reproductor-youtube {
display: flex;
justify-content: center;
}

.titulo-3 {
text-align: center;
color: white;
padding: 30px;
margin: auto;
}

article {
color: white;
}

footer {
text-align: center;
color: white;
padding: 10px;
}

.texto-claro{
    color:white
}

.formularios-estilo{
    display: flex;
    justify-content: start;
}

/*mod bootstrap*/

.navbar {
padding: 2rem;
}

.navbar-collapse {
justify-content: space-between;
align-items: center;
}

.card {
display: inline;
}

/*probando hover en nav*/

.scale-text{

}

.scale-text:hover{
    background-color: rgba(255, 255, 255, 0.742);
    color: #203A43;
    transform:scale(1.2,1.2 );
    }

/*animaciones*/
.logo-tng{
    animation-name: logo-tng;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.5s;

}

@keyframes logo-tng {
    0%{
        translate: -500px;
    }
    50%{
        translate: -250px;
    }
    75%{
        translate: 50px;
    }
    90%{
        translate: -50px;
    }
    100%{
        translate: 0px;
    }
}


/*Boostrap responsive*/
@media screen and (max-width: 992px) {
.navbar-brand {
    display: none;
    }
}
/*MediaQueries*/

/*Gradientes y animaciones*/
/*Import*/
/*Extend*/

.nav-modificado{
    background-image:$gradient-color-general;
}
    
.gradient-color-general{
    @extend .nav-modificado;
}

// /*Mixing*/
// @mixin crearbordes($colorBorde,$size,$shadow){
//     border: 5px solid black;
//     border-radius: 10px;
//     box-shadow: 0px 0px 12px black
// } ;

/*variables*/
/*mapas*/
