@import "fuentes"
@import "fondos"
@import "navbar"

*{
    margin: 0;
    padding: 0s
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("../Fonts/OpenSans-SemiBold.ttf");
}

/*variables sass*/
$color-text: red;

/*variables globales*/

$tipografia-primaria:
$tipografia-secundaria: